<div class="maindiv">
   <div class="ngdiv">
      <h1>Introduction to the Angular</h1>
      <p>
         Angular is an application design framework and development platform for creating efficient and sophisticated
         single-page apps.

         These Angular docs help you learn and use the Angular framework and development platform, from your first
         application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable
         examples to accelerate your projects.
      </p>
      <img src="./assets/images/nglogoimg.png">
   </div>
   
   
   
</div>
<div class="mtcard">
   <mat-card>
      <mat-card-title>This is title</mat-card-title>
      <mat-card-subtitle>This is subtitle</mat-card-subtitle>
   </mat-card>
   <mat-card>
      <mat-card-title>This is title</mat-card-title>
      <mat-card-subtitle>This is subtitle</mat-card-subtitle>
   </mat-card>
   <mat-card>
      <mat-card-title>This is title</mat-card-title>
      <mat-card-subtitle>This is subtitle</mat-card-subtitle>
   </mat-card>
   </div>